<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body>

    <div class="app">

        <div class="container">
            <div class="time">

                <h1>

                    <span class="hours">
                        <span v-if="time.hours < 10">0{{time.hours}}</span>
                        <span v-else>{{time.hours}}</span>
                    </span>


                    <span class="minutes">
                        <span v-if="time.minutes < 10">0{{time.minutes}}</span>
                        <span v-else>{{time.minutes}}</span>
                    </span>


                    <span class="seconds">
                        <span v-if="time.seconds < 10">0{{time.seconds}}</span>
                        <span v-else>{{time.seconds}}</span>
                    </span>
                </h1>

            </div>
        </div>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>